name: build and publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        TIKA_TYPE: [full, minimal]
        TIKA_VERSION: [1.27, 2.1.0]
        include:
        - TIKA_VERSION: 2.1.0
          TIKA_JAR_NAME: tika-server-standard
          LATEST: true
        - TIKA_VERSION: 1.27
          TIKA_JAR_NAME: tika-server
          LATEST: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          TAGS=${DOCKER_IMAGE}:${{ matrix.TIKA_VERSION }}-${{ matrix.TIKA_TYPE }}
          if [[ ${{ matrix.LATEST }} = true ]]; then
            if [[ "${{matrix.TIKA_TYPE}}" == "full" ]]; then
              TAGS=$TAGS,${DOCKER_IMAGE}:latest-full
            else
              TAGS=$TAGS,${DOCKER_IMAGE}:latest
            fi
          fi
          # Set output parameters.
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=docker_image::${DOCKER_IMAGE}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to ghcr.io 
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./${{ matrix.TIKA_TYPE }}/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          build-args: |
            TIKA_VERSION=${{ matrix.TIKA_VERSION }}
            TIKA_JAR_NAME=${{ matrix.TIKA_JAR_NAME }}
            CHECK_SIG=false
          tags: ${{ steps.prep.outputs.tags }}
